.badge {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	font-size: em(11px);
	font-weight: bold;
	@include prefix(border-radius, 2px);
	@include ellipsis;
	background: $color-default;
	&.badge-default {

	}

	&.badge-medio {
		color: white;
		&.badge-tv {
			background: $color-medio-tv;
		}
		&.badge-magazine {
			background: $color-medio-magazine;
		}
		&.badge-radio {
			background: $color-medio-radio;
		}
		&.badge-digital {
			background: $color-medio-digital;
		}
	}
}


