nav {
	&.nav-aside {
		h6 {
			color: $color-label;
			// font-weight: 600;
			font-size: em(11px);
			margin: 0 0 6px;
		}
		ul {
			margin: 0 0 60px;
			li {
				a {
					display: block;
					height: 40px;
					line-height: 40px;
					// font-weight: 600;
					font-size: em(14px);
					@extend .link-primary;
					@include ellipsis;
				}
			}
		}
	}
}