body { 
	font-size: ($font-size-base / 16px) * 100%;
	font-family: $font-family-secondary;
	color: $color-base; 
}


.mapademedios {
	position: relative;
	width: 310px;
	height: 34px;
	@include breakpoint($max, 1200px) {
		width: 219px;
		height: 24px;
	}
	a {
		display: block;
		@include position(absolute, 0px 0px 0px 0px);
		text-indent: -9999em;
		overflow: hidden;
		@include image-2x("../images/poderopedia", "png", 310px, 34px);
		@include breakpoint($max, 1200px) {
			width: 219px;
			height: 24px;
			@include image-2x("../images/poderopedia", "png", 219px, 24px);
		}
	}
}

header {
	background: $color-tertiary;
	padding: 0 10px;
	height: 60px;
	@include breakpoint($max, 1000px) {
		height: auto;
	}
	.row {
		width: 100%;
		margin: 0;
		.col16 {
			position: relative;
			@include clearfix;
		}
	}
	.mapademedios {
		@include position(absolute, 13px 0 0 10px);
		z-index: 1;
		@include breakpoint($max, 1200px) {
			top: 18px;
		}
		@include breakpoint($max, $xs-screen) {
			left: 0px;
		}
	}
	nav {
		float: right;
		height: 60px;
		@include clearfix;
		@include breakpoint($max, 1000px) {
			width: 100%;
			height: auto;
		}
		> ul {
			height: 60px;
			float: left;
			padding: 0 0 0 20px;
			@include clearfix;
			@include breakpoint($max, 1200px) {
				padding: 0 0 0 10px;
			}
			@include breakpoint($max, 1000px) {
				height: auto;
				padding: 0;
				float: none;
			}
			&:first-child {
				padding: 0;
			}
			&.nav-s {
				li {
					&.item-li {
						padding: 0 5px;
						@include breakpoint($max, 1000px) {
							padding: 0;
						}
					}
				}
			}
			li {
				&.item-li {
					float: left;
					padding: 0 10px;
					@include prefix(box-sizing, border-box);
					@include breakpoint($max, 1200px) {
						padding: 0 6px;
					}
					@include breakpoint($max, 1000px) {
						float: none;
						width: 100%;
						padding: 0;
					}
					.dropdown-menu {
						top: 55px;
					}
					a.item {
						display: inline-block;
						height: 60px;
						line-height: 58px;
						font-size: em(13px);
						font-weight: bold;
						color: lighten($color-base, 10%);
						border-bottom-width: 2px;
						border-bottom-style: solid;
						border-bottom-color: transparent;
						@include transition(color $transition);
						@include prefix(box-sizing, border-box);
						&.only-icon {
							position: relative;
							width: 16px;
							text-indent: -9999em; 
							overflow: hidden;
							i {
								@include position(absolute, 50% 0 0 0px);
								margin: -8px 0;
							}
						}
						&:hover {
							color: white;
						}
						@include breakpoint($max, 1000px) {
							width: 100%;
							padding: 0 20px;
							border-bottom-width: 1px;
							border-bottom-color: lighten($color-tertiary, 4%);
							font-size: em(16px);
							&.only-icon {
								width: 100%;
								padding: 0 0 0 46px;
								text-indent: 0;
								i {
									left: 20px;
								}
							}
						}
					}
					&.active {
						a.item {
							color: white;
							@include breakpoint($min, 1000px) {
								border-bottom-color: white;
							}
						}
					}
					&.dropdown {
						a.item {
							&.dropdown-toggle {
								padding-right: (16px + 3px);
								.arrow {
									right: 0px;
								}
								@include breakpoint($max, 1000px) {
									padding-right: 20px + (16px + 3px);
									.arrow {
										right: 20px;
									}
								}
							}
						}
						&.open {
							a.item {
								color: white;
							}
							@include breakpoint($max, 1000px) {
								a.item {
									background: lighten($color-tertiary, 4%);
									border-bottom: 1px solid $color-tertiary;
								}
								.dropdown-menu {
									position: relative;
									top: 0;
									padding: 10px 0;
									@include prefix(border-radius, 0);
									@include prefix(box-shadow, none);
									background: lighten($color-tertiary, 4%);
									a {
										padding: 0;
										height: 40px;
										line-height: 40px;
										padding: 0 20px;
										font-size: em(14px);
										color: lighten($color-base, 10%);
										&:hover {
											color: white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.main-nav-mobile {
		display: none;
		width: 60px;
		height: 60px;
		text-indent: -9999em;
		overflow: hidden;
		position: relative;
		float: right;
		color: white;
		background: lighten($color-tertiary, 5%);
		@include transition(background-color $transition);
		i {
			@include position(absolute, 50% 0 0 50%);
			margin: -8px;
		}
		&:hover {
			background: lighten($color-tertiary, 10%);
		}
		@include breakpoint($max, 1000px) {
			display: block;
			margin-right: -20px;
		}
	}
	.wrap-mobile-navigation {
		z-index: 0;
		clear: both;
		@include clearfix;
		position: relative;
		display: block\9;
		@include breakpoint($min, 1000px) {
			display: block !important;
		}
		@include breakpoint($max, 1000px) {
			position: relative;
			margin: 0 -20px;
			nav {
				padding-bottom: 20px;
			}
		}
	}
}



footer {
	background: $color-tertiary;
	color: lighten($color-base, 10%);



	.col7, .col8 {
		@include breakpoint($max, $m-screen) {
			width: column-flex(16);
			margin: 0;
			float: none;
		}
	}
	.col5, .col4 {
		@include breakpoint($max, $m-screen) {
			width: column-flex(8);
			padding-top: 20px;
		}
		@include breakpoint($max, $xs-screen) {
			width: column-flex(16);
		}
	}

	.col7.prefix1 {
		@include breakpoint($max, $m-screen) {
			padding-top: 20px;
		}
	}


	a {
		display: inline-block;
		font-size: em(13px);
		color: #bababa;
		@include transition(color $transition);
		&:hover {
			color: white;
		}
	}
	hr {
		margin: 20px auto;
		height: 1px; 
		background: lighten($color-tertiary, 10%);
		@include breakpoint($max, $xl-screen) {
			margin: 20px 10px;
		}
	}
	.credits {
		p {
			line-height: 1.5em;
			margin: 0;
		}
	}
	ul {
		li {
			margin: 0 0 8px 0;
			a {
				position: relative;
				display: block;
				height: 16px;
				line-height: 16px;
				@include ellipsis;
				&.with-icon {
					padding-left: 26px;
					i {
						@include position(absolute, 50% 0 0 0px);
						margin: -8px 0;
						color: lighten($color-tertiary, 25%);
					}
				}
			}
		}
	}
	form.signup-newsletters {
		position: relative;
		.signup-form {
			position: relative;
			width: 100%;
			height: 40px;
			z-index: 0;
			input {
				padding-right: 110px;
			}
		}
		.signup-submit {
			@include position(absolute, 0px 0px 0 0);
			width: 100px;
			height: 40px;
			input {
				width: 100%;
				padding: 0;
				@include prefix(border-radius, 0 2px 2px 0);
			}
		}
		@include breakpoint($max, $s-screen) {
			.signup-form {
				height: 36px;
				input {
					height: 36px;
					padding-right: 90px;
				}
			}
			.signup-submit {
				width: 80px;
				height: 36px;
				input {
					height: 36px;
				}
			}

		}
	}
}




.row-module {
	padding: 60px 0;
	@include breakpoint($max, $xl-screen) {
		padding: 60px 70px;
	}
	@include breakpoint($max, $m-screen) {
		padding: 40px 50px;
	}
	@include breakpoint($max, $s-screen) {
		padding: 20px 30px;
	}
	@include breakpoint($max, $xs-screen) {
		padding: 10px;
	}

	> .row {
		padding: 20px 0;
		@include breakpoint($max, $xs-screen) {
			padding: 10px 0;
		}
	}


	&.row-module-s-top {
		padding-top: 20px;
		@include breakpoint($max, $xs-screen) {
			padding-top: 10px;
		}
	}
	&.row-module-s-bottom {
		padding-bottom: 20px;
		@include breakpoint($max, $xs-screen) {
			padding-bottom: 10px;
		}
	}
}

.row {
	@include clearfix;
	width: $grid-width;
	margin: 0 auto;
	@include breakpoint($max, $xl-screen) {
		width: auto;
		margin: 0;
	}
	.row {
		position: relative;
		margin: 0 -10px;
	}
}




.heading {
	margin: 0 0 40px;
	@include breakpoint($max, $s-screen) {
		margin: 0 0 20px;
	}
	&.heading-s {
		margin: 0 0 20px;
	}
	a {
		@extend .link-primary;
	}
	h1 {
		font-size: em(38px);
		font-weight: bold;
		color: $color-title;
		line-height: 1.3em;
		@include breakpoint($max, $m-screen) {
			font-size: em(32px);
		}
		@include breakpoint($max, $s-screen) {
			font-size: em(24px);
		}
		+ h2 {
			margin-top: 10px;
		}
	}
	h2 {
		font-size: em(24px);
		line-height: 1.4em;
		font-weight: normal;
		@include breakpoint($max, $m-screen) {
			font-size: em(18px);
		}
		@include breakpoint($max, $s-screen) {
			font-size: em(16px);
		}
	}
	h3 {
		font-size: em(22px);
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-title;
		line-height: 1.4em;
		@include breakpoint($max, $m-screen) {
			font-size: em(18px);
		}
	}
	h4 {
		font-size: em(22px);
		color: $color-title;
		line-height: 1.4em;
	}
	p {
		font-size: em(16px);
		line-height: 1.5em;
		margin: 20px 0 0 0;
		@include breakpoint($max, $s-screen) {
			margin: 10px 0 0 0;
			font-size: em(14px);
		}
	}
	span {
		&.search-results-close {
			display: inline-block;
			position: relative;
			font-weight: bold;
			color: $color-info;
			height: 30px;
			line-height: 30px;
			padding-right: 40px;
			a {
				@include position(absolute, 50% 0px 0 0);
				display: block;
				width: 30px;
				height: 30px;
				@include prefix(border-radius, 50%);
				margin: -15px 0;
				background: white;
				text-indent: -9999em;
				overflow: hidden;
				i {
					@include position(absolute, 50% 0 0 50%);
					margin: -8px;
				}
			}
		}
	}
	&.with-icon {
		position: relative;
		height: 40px;
		padding: 0 0 0 50px;
		h1,h2,h3,h4,h5,h6 {
			display: block;
			@include ellipsis;

			line-height: 40px;
		}
		span.icon-heading {
			@include position(absolute, 50% 0 0 0px);
			display: block;
			width: 40px;
			height: 40px;
			background: $color-primary;
			margin: -20px 0;
			@include prefix(border-radius, 50%);
			i {
				@include position(absolute, 50% 0 0 50%);
				margin: -8px;
				color: white;
			}
		}
	}
}




.item-featured-list {
	.item-featured {
		width: 33.3333%;
		float: left;
		padding: 0 10px;
		@include prefix(box-sizing, border-box);
		@include breakpoint($min, $s-screen) {
		  &:nth-child(3n+4) {
		    clear: both;
		  }
		}
		@include breakpoint($max, $s-screen) {
		  width: 50%;
		  &:nth-child(2n+3) {
		    clear: both;
		  }
		}
		@include breakpoint($max, $xs-screen) {
		  width: 100%;
		  float: none;
		  clear: both;
		}
		h6 {
			color: $color-title;
			// font-weight: 600;
			font-size: em(16px);
			margin: 0 0 10px;
			line-height: 1.3em;
		}
		p {
			color: $color-base;
			font-size: em(13px);
			line-height: 1.5em;
			margin: 0;
		}
		a {
			display: block;
			width: 100%;
			padding: 10px;
			text-align: center;
			@include prefix(box-sizing, border-box);
			span {
				position: relative;
				display: block;
				width: 70px;
				height: 70px;
				margin: 0 auto 10px;
				background: $color-default;
				color: $color-secondary;
				@include prefix(border-radius, 50%);
				i {
					@include position(absolute, 50% 0 0 50%);
					margin: -16px;
				}
			}
		}
	}
}



section {

	&.section-featured {
		.col12.prefix2 {
			width: column(12) + 20px;
			margin: 0 auto;
			float: none;
			@include breakpoint($max, ((column(12) + 20px) + 100px)) {
				width: 100%;
			}
		}
	}

	&.section-title {
		background: $color-default;
		.heading {
			margin: 0;
		}
	}
	&.section-subtitle {
		padding: 20px 0 0;
		@include breakpoint($max, $xl-screen) {
			padding: 20px 70px 0;
		}
		@include breakpoint($max, $m-screen) {
			padding: 20px 50px 0;
		}
		@include breakpoint($max, $s-screen) {
			padding: 20px 30px 0;
		}
		@include breakpoint($max, $xs-screen) {
			padding: 20px 10px 0;
		}
		@include breakpoint($max, ((column(12) + 20px) + 100px)) {
			.col4 {
				display: none;
			}
			.col12 {
				width: column-flex(16);
				float: none;
				.btn-group.right {
					float: none !important;
					li {
						margin: 0 5px 0 0;
					}
				}
			}
		}
		.label {
			display: inline-block;
			height: 32px;
			line-height: 32px;
			font-size: em(14px);
			@include breakpoint($max, ((column(12) + 20px) + 100px)) {
				display: block;
				height: auto;
				line-height: 1.5em;
				margin: 0 0 5px 0;
			}
			@include breakpoint($max, $xs-screen) {
				font-size: em(13px);
			}
		}
	}
	&.section-articles {
		background: $color-default;
		.carousel-inner {
			.item {
				.col8 {
					@include breakpoint($max, $xs-screen) {
						width: column-flex(16);
						float: none;
						&:last-child {
							padding-top: 20px;
						}
					}
				}
			}
		}
		article {
			a {
				display: block;
				@include prefix(box-sizing, border-box);
				@include prefix(border-radius, 2px);
				@include transition(box-shadow $transition);
				background: white;
				padding: 60px;
				text-align: center;
				@include breakpoint($max, $m-screen) {
					padding: 40px;
				}
				@include breakpoint($max, $s-screen) {
					padding: 20px;
				}
				figure {
					position: relative;
					width: 100%;
					padding-bottom: 56.25%;
					height: 0;
					margin: 20px 0;
					overflow: hidden;
					@include breakpoint($max, $s-screen) {
						margin: 10px 0;
					}
					img {
						display: block;
						width: 100%;
						height: auto;
						@include position(absolute, 0px 0px 0px 0px);
					}
				}
				h3 {
					color: $color-info;
					font-size: em(18px);
					line-height: 1.4em;
					@include breakpoint($max, $s-screen) {
						font-size: em(16px);
						line-height: 1.5em;
					}
				}
				&:hover {
					@include prefix(box-shadow, rgba(black, .1) 0 0 30px);
				}
			}
		}
	}
	&.section-article {
		/* in _post.scss */
	}
	&.section-logos {
		background: $color-default;
		padding: 40px 0;


		@include breakpoint($max, $xl-screen) {
			padding: 40px 70px;
		}
		@include breakpoint($max, $m-screen) {
			padding: 40px 50px;
		}
		@include breakpoint($max, $s-screen) {
			padding: 40px 30px;
		}
		@include breakpoint($max, $xs-screen) {
			padding: 20px 10px;
		}

		h6 {
			font-size: em(13px);
			font-weight: normal;
			margin: 0 0 10px;
		}


		.col6, .col4 {
			@include breakpoint($max, $s-screen) {
				width: column-flex(16);
				float: none;
			}
		}



		ul {
			@include clearfix;
			li {
				float: left;
				margin: 0 20px 0 0;
				&:last-child {
					margin: 0;
				}
				img {
					display: block;
				}
				a {
					display: block;
					height: 60px;
					img {
						@include opacity(1);
						@include transition(opacity $transition);
					}
					&:hover {
						img {
							@include opacity(.5);
						}
					}
				}
			}
		}
	}
	&.section-categories {


		.col7 {
			@include breakpoint($max, $s-screen) {
				width: column-flex(16);
				margin: 0;
				float: none;
				&.prefix2 {
					padding-top: 20px;
				}
			}
		}




		background: $color-primary;
		.heading {
			* {
				color: white;
			}
		}
		h6 {
			position: relative;
			color: white;
			display: block;
			height: 16px;
			line-height: 16px;
			font-size: em(16px);
			padding: 0 0 0 26px;
			margin: 0 0 20px;
			i {
				@include position(absolute, 50% 0 0 0px);
				margin: -8px 0;
			}
		}
		nav {
			ul {
				li {
					a {
						@include clearfix;
						display: block;
						height: 28px;
						line-height: 28px;
						font-size: em(15px);
						color: lighten($color-primary, 35%);
						padding: 0 26px;
						overflow: hidden;
						@include transition(background-color $transition);
						span {
							color: white;
							float: right;
							font-weight: bold;
						}
						&:hover {
							color: white;
							background: lighten($color-primary, 5%);
						}
					}
				}
			}
		}
	}
}


.form-search {
	.search-group {
		position: relative;
		.search-form {
			position: relative;
			height: 50px;
			z-index: 0;
			@include placeholder($color-info);
			input {
				position: relative;
				width: 100%;
				height: 50px;
				z-index: 0;
				padding: 0 120px 0 (20px + 16px + 10px);
				border: 1px solid $color-input-border;
				@include prefix(box-shadow, inset rgba(black, .05) 0 1px 2px);
				font-size: em(16px);
			}
			i {
				@include position(absolute, 50% 0 0 20px);
				margin: -8px 0;
				z-index: 1;
				color: $color-info;
			}
			@include breakpoint($max, $m-screen) {
				height: 40px;
				input {
					height: 40px;
					padding-left: 15px + 16px + 10px;
					font-size: em(14px);
				}
				i {
					left: 15px;
				}
			}
			@include breakpoint($max, $s-screen) {
				height: 36px;
				input {
					height: 36px;
					padding-left: 10px + 16px + 5px;
					padding-right: 110px;
				}
				i {
					left: 10px;
				}
			}
		}
		.search-submit {
			@include position(absolute, 0px 0px 0 0);
			width: 100px;
			height: 50px;
			z-index: 1;
			input {
				width: 100%;
				@include prefix(border-radius, 0 2px 2px 0);
			}
			@include breakpoint($max, $m-screen) {
				height: 40px;
				input {
					height: 40px;
					line-height: 40px;
				}
			}
			@include breakpoint($max, $s-screen) {
				height: 36px;
				input {
					height: 36px;
					line-height: 36px;
				}
			}
		}
	}
	.form-search-options {
		@include clearfix;
		padding-top: 15px;
		label {
			font-size: em(14px);
			padding: 5px 20px 5px 0;
			float: left;
			input {
				float: left;
				margin: 0 10px 0 0;
			}
		}
		p {
			font-size: em(11px);
			position: relative;
			clear: both;
			color: $color-label;
			text-align: left;
			display: block;
			line-height: 1.5em;
			padding-left: 26px;
			padding: 15px 0 0 26px;
			i {
				@include position(absolute, 17px 0 0 0px);
			}
		}
	}
}












