p {

}
h1, h2, h3, h4, h5, h6, strong { 
	font-weight: bold;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.acenter {
  text-align: center !important;
}
.aright {
  text-align: right !important;
}
.nofloat {
  float: none !important;
}
.nopadding {
  padding: 0 !important;
}
em {
  font-style: oblique;
}
hr {
	width: 100%;
	height: 1px;
	padding: 0;
	margin: 0;
	border: none;
	text-align: left;
}

.row-table {
	display: table;
	.row-cell {
		display: table-cell;
		&.middle {
			vertical-align: middle;
		}
	}
}