@mixin form-default {
	color: $color-title;
	font-family: $font-family-secondary;
	font-size: em(14px);
	@include prefix(border-radius, 2px);
	width: 100%;
	height: 40px;
	// font-weight: 600;
}

@include inputs {
	@include prefix(box-sizing, border-box);
	@include form-default;
	padding: 0 10px;
	border: none;
}

input[type=search] {
	-webkit-appearance:none;
}