.carousel {
	position: relative;
	.carousel-inner {
		z-index: 0;
	}
	.item {
		position: relative;
		width: 100%;
		height: 0;
		overflow: hidden;
		@include clearfix;
		@include prefix(box-sizing, border-box);
		@include opacity(0);
		@include transition(opacity $transition);
		z-index: 0;
		float: none !important;
		&.active {
			overflow: visible;
		  height: auto;
		  @include opacity(1);
		}
		&.left,
		&.right {
		  @include opacity(0);
		}
		&.prev,
		&.next {
		  @include opacity(.5);
		}
	}
	.carousel-indicators {
		@include position(absolute, 0 10px -28px 10px);
		text-align: center;
		height: 8px;
		z-index: 1;
		font-size: 0px;
		letter-spacing: 0px;
		word-spacing: 0px;
		li {
			display: inline-block;
		  vertical-align: top;
			width: 4px;
			height: 4px;
			border: 2px solid $color-label;
		  margin: 0 3px;
			@include prefix(border-radius, 50%);
			text-indent: -9999em;
			overflow: hidden;
			cursor: pointer;
			@include transition(all $transition);
			&:hover,
			&.active {
				background: $color-label;
			}
		}
		@include breakpoint($max, ($l-screen + (40px*2) + (20px*2) )) {
			display: none;
		}
	}
	.ctrl {
		@include position(absolute, 50% 0 0 0 0);
		display: block;
		width: 40px;
		height: 60px;
		margin: -30px 0;
		z-index: 1;
		text-indent: -9999em;
		overflow: hidden;
		color: $color-base;
		@include transition(all $transition);
	  @include prefix(box-sizing, border-box);
	  @include prefix(border-radius, 2px);
	  @include breakpoint($max, ($l-screen + (40px*2) + (20px*2) )) {
	  	display: none;
	  }
		&:after {
			content: "";
			display: block;
			@include position(absolute, 50% 0 0 0);
			width: 16px;
			height: 16px;
			border-right: 2px solid $color-label;
			border-bottom: 2px solid $color-label;
			margin: -9px 0;
	    @include transition(all $transition);
		}
		&.next {
			right: -60px;
			&:after {
				right: 15px;
				@include prefix(transform, rotate(-45deg));
			}
		}
		&.prev {
			left: -60px;
			&:after {
				left: 15px;
				@include prefix(transform, rotate(135deg));
			}
		}
		&:hover {
			background: white;
			&:after {
				border-right-color: $color-info;
				border-bottom-color: $color-info;
			}
		}
	}
}