.collapse {
  display: none;
  &.in {
    display: block
  }
  .panel-collapse {
    padding: 20px;
  }
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition(height $transition);
}