.section-profile {
	.btn-group {
		ul {
			li {
				margin: 0 5px 5px 0;
			}
		}
	}
}
.section-profile-header {
	.profile-wrapper {
		display: table;
		width: 100%;
		@include breakpoint($max, $s-screen) {
			display: block;
		}
		.profile-logo,
		.profile-title,
		.profile-info {
			display: table-cell;
			vertical-align: middle;
			@include breakpoint($max, $s-screen) {
				width: 100%;
				display: block;
				@include prefix(box-sizing, border-box);
			}
		}
		.profile-logo {
			vertical-align: top;
			width: 110px;
			figure {
				width: 110px;
				height: 110px;
				img {
					display: block;
					width: 110px;
				}
			}
			@include breakpoint($max, $s-screen) {
				width: 80px;
				figure {
					width: 80px;
					height: 80px;
					img {
						width: 80px;
					}
				}
			}
		}
		.profile-title {
			padding: 0 40px 0 20px;
			h1 {
				font-size: em(24px);
				line-height: 1.3em;
				color: $color-title;
				margin: 0 0 2px 0;
			}
			@include breakpoint($max, $s-screen) {
				padding: 20px 0 0 0;
			}
		}
		.profile-info {
			width: 420px;
			text-align: right;
			@include breakpoint($max, $m-screen) {
				width: 300px;
			}
			@include breakpoint($max, $s-screen) {
				text-align: left;
				width: 100%;
				padding-top: 20px - 4px;
			}
			ul {
				color: $color-label;
				font-size: em(11px);
				li {
					position: relative;
					line-height: 1.5em;
					padding: 4px 26px 4px 0;
					&:last-child {
						i {
							color: $color-info;
						}
					}
					i {
						@include position(absolute, 50% 0px 0 0);
						margin: -8px 0;
					}
					@include breakpoint($max, $s-screen) {
						padding: 4px 0 4px 26px;
						i {
							right: auto;
							left: 0px;
						}
					}
				}
				a {
					@extend .link-primary;
					font-weight: bold;
				}
			}
		}
	}
}