{% extends "medioschile/base.html" %}
{% block content %}
<section class="section-title row-module">
  <div class="row">
        <div class="col16">
            <div class="heading acenter">
              <h1>Aporta información a Mapa de Medios</h1>
            </div>
        </div>
    </div>
</section>

<section class="section-title row-module">
	<div class="col12 prefix2">
<form class="form-search">
  <div class="form-group">
    <label for="exampleInputEmail1">Su Nombre</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-default">Enviar</button>
</form>
                       
    <br><br><br><br>
  </div>
</section>    

{% endblock %}

