<a name="definiciones"></a>
{% extends "medioschile/base.html" %}
{% block content %}
<section class="section-title row-module">
  <div class="row">
        <div class="col16">
            <div class="heading acenter">
              <h1>Datos</h1>
            </div>
        </div>
    </div>
</section>
          
<section class="section-article list row-module">
    <div class="row">
        <aside class="col3">
          <nav class="nav-aside">
            <h6>Navega:</h6>
            <ul>
              <li><a href="#definiciones">Definiciones</a></li>
              <li><a href="#licencia">Licencia</a></li>
              <li><a href="#formato">Formato</a></li>
              <li><a href="#metadata">Metadata</a></li>
            </ul>
          </nav>
        </aside>
        <div class="col12 prefix1">

          <div class="post">
            <!-- <div class="post-title">
              <h3>Install with Bower</h3>
            </div> -->
            <div class="post-body text">
<p>Los datos recopilados en Mapa de Medios están disponibles para la comunidad (ciudadanos, estudiantes, investigadores, etc.) bajo una estructura de Open Data. Esto implica que los datasets se encuentran bajo una licencia abierta y se tomaron decisiones técnicas sobre los formatos e instauramos una política de metadata adecuada. Los tres aspectos están unidos entre sí y son necesarios para que los datos sean catalogados como Open Data y, tan importante como eso, puedan ser usados por la comunidad.</p>

<p>Según la definición de Open Data de Open Knowledge Foundation los datos "deben poder ser leídos automáticamente, estar disponibles de una sola vez y proporcionarse en un formato abierto (es decir, un formato que tenga sus especificaciones disponibles pública, libre y gratuitamente, que no imponga restricciones, económicas o de otro tipo sobre su uso) o, al menos, que puedan ser procesados con una herramienta de software libre" ( http://opendefinition.org).</p>

<p>En lo que respecta a los formatos elegidos para hacer disponibles los datos, tomamos la definición de freedomdefined.org: "Para los ficheros digitales, el formato en que se haga disponible el trabajo no debe estar protegido por patentes, salvo que se conceda un permiso libre de regalías, ilimitado, irrevocable y de ámbito mundial para hacer uso de la tecnología patentada. Si bien en ocasiones se pueden usar formatos no-libres por razones prácticas, debe haber disponible una copia en un formato libre para que el trabajo sea considerado libre."</p>

<p>Ambas definiciones son ampliamente usadas en todo el mundo como condiciones para el open data.</p>



        </div>
        </div>

        </div>
 
        <aside class="col3"><br><br><br><br><br><br>
          <nav class="nav-aside">
            <h6>Navega:</h6>
            <ul>
              <li><a href="#definiciones">Definiciones</a></li>
              <li><a href="#licencia">Licencia</a></li>
              <li><a href="#formato">Formato</a></li>
              <li><a href="#metadata">Metadata</a></li>
            </ul>
          </nav>
        </aside>

        <div class="col12 prefix1">

          <div class="post">
          <a name="licencia"></a>
            <!-- <div class="post-title">
              <h3>Install with Bower</h3>
            </div> -->
            <div class="post-body text">
       
        <h2>Licencia</h2>

<p>Los datasets generados en esta investigación están protegidos por la licencia Open Database License (ODbL) v1.0.</p>

<p>Esta licencia permite a las personas:</p>
<ul><li>copiar, distribuir y utilizar la base de datos</li>
  <li>producir obras a partir de la base de datos</li>
  <li>modificar, transformar y construir sobre la base de datos</li></ul>

<p>Asumiendo los siguientes compromisos:</p>
<ul>
<li>dar crédito a la fuente para cualquier uso público de la base de datos, o de las obras producidas a partir de la base de datos</li>    
  <li>dejar siempre en claro, para cualquier uso o redistribución de la base de datos o de los trabajos producidos a partir de ella, la licencia que la protege</li>    
  <li>todas las versiones adaptadas o trabajos derivados de la base de datos se deben ofrecer bajo la misma licencia</li>    
  <li>si se distribuye la base de datos o una versión adaptada de ella bajo medidas tecnológicas que restringen el trabajo (como DRM) también se debe distribuir una versión sin esas medidas tecnológicas</li></ul>

        </div>
        </div>

        </div>

        <aside class="col3"><br><br><br><br><br><br>
          <nav class="nav-aside">
            <h6>Navega:</h6>
            <ul>
              <li><a href="#definiciones">Definiciones</a></li>
              <li><a href="#licencia">Licencia</a></li>
              <li><a href="#formato">Formato</a></li>
              <li><a href="#metadata">Metadata</a></li>
            </ul>
          </nav>
        </aside>
        <div class="col12 prefix1">
          
          <div class="post">
          <a name="formato"></a>
            <!-- <div class="post-title">
              <h3>Install with Bower</h3>
            </div> -->
            <div class="post-body text">
        <h2>Formato</h2>
<p>Los datasets están publicados en primera instancia en Open Society, Poderomedia: Poderopedia Chile y Colombia, Consejo de Redacción, y OpenData Latinoamérica. Gran parte de la información recabada en la investigación fue guardada en spreadsheets, por lo que su publicación en descargables puede ser en  excel, csv, json y xml.</p>

<p>En la elección de los formatos se optó por formatos abiertos y no privativos. Esto significa que los datos pueden ser descargados para ser revisados y procesados por lo menos con un programa de software libre. Esto se hace extensivo a toda la entrega de la investigación. En la siguiente lista se indican los formatos usados:</p>

<p>Formatos abiertos:</p>
<ul><li>Texto            → ODT (OpenDocument Texto)</li>    
  <li>Imágenes         → PNG (Portable Network Graphics)</li>    
  <li>Páginas WEB        → HTML (HyperText Markup Language), CSS, DOM</li>    
  <li>Audio            → Ogg</li>    
  <li>Multimedia        → WebM</li>
  <li>Multimedia        → Mkv (Matroska Multimedia Container)</li>
  <li>Datos            → CSV (comma-separated values)</li>
  <li>Datos            → JSON (JavaScript Object Notation)</li>
  <li>Datos            → XML (Extensible Markup Language)</li></ul>

<p>Otros formatos, que pueden ser abiertos por programas libres:</p>
<ul><li>Texto            → DOC (Microsoft Word)</li>    
  <li>Datos            → XLS (Microsoft Excel)</li>    
  <li>Documentos        → PDF (Portable Document Format)</li></ul>

<p>La elección de los formatos depende de la naturaleza de la información que se recopiló durante la investigación, por lo que no todos los formatos de la lista fueron utilizados.</p> 



              <!-- <div class="highlight">
                <pre><code class="php">if(true) {
    echo "Hi poderopedia";
  }</code></pre>
              </div> -->
            </div>
          </div>

        </div>
        <aside class="col3"><br><br><br><br><br><br>
          <nav class="nav-aside">
            <h6>Navega:</h6>
            <ul>
              <li><a href="#definiciones">Definiciones</a></li>
              <li><a href="#licencia">Licencia</a></li>
              <li><a href="#formato">Formato</a></li>
              <li><a href="#metadata">Metadata</a></li>
            </ul>
          </nav>
        </aside>
  
          <div class="col12 prefix1">
          <div class="post">
          <a name="metadata"></a>
            <!-- <div class="post-title">
              <h3>Install with Bower</h3>
            </div> -->
            <div class="post-body text">
        <h2>Metadata</h2>
<p>Cada página publicada en Internet que incluya un dataset fue etiquetada con la información correspondiente que permite a las personas y programas informáticos (por ej. buscadores):</p>

<ul>
  <li>identifica esa página como contenedora de un dataset</li>
  <li>obtiene información de los datos disponibles tales como: identificador único, autor, mantenedor, lenguaje, fecha, período cubierto por los datos, lugar geográfico, actualización. Estos datos, entre otros, son los que transforman un dataset en linked data.</li>
</ul>

<p>Para publicar datasets en páginas web son necesarias las siguientes etiquetas básicas, que varían según el dataset.</p> 

<p>Etiquetas básicas a usar en los dataset del proyecto</p>

<ul>
  <li>Nombre del dataset → property='dct:title'</li>
  <li>Descripción del dataset → property='dct:description'</li>
  <li>Lenguaje del dataset → property='dct:language'</li>
  <li>Fecha de publicación del dataset → property='dct:created'</li>
  <li>Organización/Persona generadora del dataset → property='dct:publisher'</li>
  <li>Cobertura temporal del dataset → property='dct:temporal'</li>
  <li>Cobertura geográfica del dataset → property='dct:spatial'</li>
  <li>Formato del dataset → property='dcat:mediaType'</li>
  <li>Tamaño del dataset → property='dcat:byteSize'</li>
  <li>URL del recurso → property='dcat:accessURL'</li>
  <li>Frecuencia de actualización del dataset → property='dcat:accrualPeriodicity'</li>
  <li>Licencia del dataset → property='dct:license'</li>
  <li>Palabras claves para ubicar el dataset → property='dcat:keyword'</li>
</ul>

<p>El etiquetado adoptado es el de Dublin Core Metadata Initiative y propuesto por el Open Data Institute con sede en Londres, UK: <a href="http://dublincore.org/documents/dcmi-terms/">http://dublincore.org/documents/dcmi-terms/</a></p>



              <!-- <div class="highlight">
                <pre><code class="php">if(true) {
    echo "Hi poderopedia";
  }</code></pre>
              </div> -->
            </div>
          </div>

        </div>
    </div>
</section>    

{% endblock %}

