{% extends "medioschile/base.html" %}
{% block content %}
<section class="section-title row-module">
  <div class="row">
        <div class="col16">
            <div class="heading acenter">
              <h1>Contacto con el equipo de Mapa de Medios</h1>
            </div>
        </div>
    </div>
</section>

<section class="section-title row-module">
  <div class="col12 prefix2">

        <form class="form">
          <div class="col8 prefix4">
            <div class="control-group">
              <label class="control-label">Nombre *</label>
              <div class="controls">
                <input type="text" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Email *</label>
              <div class="controls">
                <input type="text" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Consulta *</label>
              <div class="controls">
                <textarea rows="10"></textarea>
              </div>
            </div>
            <div class="control-actions">
              <input type="submit" class="btn btn-full btn-primary" value="Enviar" />
            </div>
          </div>
        </form>

    <br><br><br><br>
  </div>
</section>   

{% endblock %}

