<a name="objeto"></a>
{% extends "medioschile/base.html" %}
{% block content %}
<section class="section-title row-module">
  <div class="row">
        <div class="col16">
            <div class="heading acenter">
              <h1>Metodología</h1>
            </div>
        </div>
    </div>
</section>
          
<section class="section-article list row-module">
    <div class="row">
        <aside class="col3">
          <nav class="nav-aside">
            <h6>Navega:</h6>
            <ul>
              <li><a href="#objeto">Objeto de estudio</a></li>
              <li><a href="#etapas">Etapas</a></li>
              <li><a href="#planificacion">Desarrollo</a></li>
              <li><a href="#entrega">Entrega de productos</a></li>
              <li><a href="#principios">Principios </a></li>
            </ul>
          </nav>
        </aside>
        <div class="col12 prefix1">

          <div class="post">
            <!-- <div class="post-title">
              <h3>Install with Bower</h3>
            </div> -->
            <div class="post-body text">
      <h2>Objeto de estudio</h2>
<p>El objeto de estudio de esta investigación son los grupos o empresas privadas o públicas dueñas de medios de comunicación vigentes en Chile y Colombia hasta abril de 2015, información susceptibles de ser actualizados en el futuro.</p>
<br><br>

        </div>
        </div>

        </div>        

        <div class="col12 prefix1">

          <div class="post">
          <a name="etapas"></a>
            <!-- <div class="post-title">
              <h3>Install with Bower</h3>
            </div> -->
            <div class="post-body text">
       
        <h2>Etapas de la investigación</h2>
<p>Nuestra metodología para investigar y abrir evidencia relativa a la propiedad de los medios de comunicación en Chile y Colombia consideró dos equipos de investigación: Fundación Poderomedia (Chile) y Consejo de Redacción (Colombia), quienes llevaron a cabo las siguientes etapas investigativas:</p>

<ul>
<li><a href="#uno">Revisión de documentación</a></li>
  <li><a href="#dos">Elaboración de base de datos de medios de comunicación por propiedad</a></li>
  <li><a href="#tres">Criterios generales de selección de los medios investigados</a></li>
  <li><a href="#cuatro">Medios investigados en Chile</a></li>
  <li><a href="#cinco">Fuentes consultadas en Chile</a></li>
  <li><a href="#seis">Medios investigados en Colombia</a></li>
  <li><a href="#siete">Fuentes consultadas en Colombia</a></li>
  <li><a href="#ocho">Construcción de la matriz de análisis</a></li>
  <li><a href="#nueve">Entrevistas en profundidad</a></li>
  <li><a href="#diez">Recopilación de la Legislación que incide en la propiedad de los medios</a></li>
  <li><a href="#once">Identificación de las leyes a considerar</a></li>
  <li><a href="#doce">Construcción de la matriz de análisis para legislación y entrevistas</a></li>
  <li><a href="#trece">Sistematización de información legislativa en la base de datos</a></li>
  <li><a href="#catorce">Legislación y actores de influencia en Chile</a></li>
  <li><a href="#quince">Legislación y actores de influencia en Colombia</a></li>
  <li><a href="#diezyseis">Plano de discusión de expertos en Hackday</a></li>
  <li><a href="#diezysiete">Elaboración de reporte final</a></li>
</ul>

        </div>
        </div>

        </div>

        <aside class="col3"><br><br><br><br><br><br>
          <nav class="nav-aside">
            <h6>Navega:</h6>
            <ul>
              <li><a href="#objeto">Objeto de estudio</a></li>
              <li><a href="#etapas">Etapas</a></li>
              <li><a href="#planificacion">Desarrollo</a></li>
              <li><a href="#entrega">Entrega de productos</a></li>
              <li><a href="#principios">Principios </a></li>
            </ul>
          </nav>
        </aside>
        <div class="col12 prefix1">
          
          <div class="post">
          <a name="planificacion"></a>
            <!-- <div class="post-title">
              <h3>Install with Bower</h3>
            </div> -->
            <div class="post-body text">
        <h2>Desarrollo de la investigación</h2>
<a name="uno"></a>
<p>1.- Revisión de documentación:</p> 

<p>Se revisó la información pública relevante de investigaciones periodísticas publicadas, Centros de Estudios, Asociaciones Gremiales, Académicos y Documentos Públicos de Gobierno, tanto de acceso general como vía leyes de transparencia respectivas. La investigación de documentación incluyó el análisis de bases de datos privadas, concedidas voluntariamente en pos de la investigación.</p>

<a name="dos"></a>
<p>2.- Elaboración de base de datos de medios de comunicación por propiedad</p>
<a name="tres"></a>
<p>a.- Criterios generales de selección de los medios investigados</p>

<p>En la siguiente etapa se realizó una caracterización de los medios de comunicación con el objeto de seleccionar los medios a investigar.</p>

<p>Definimos las siguientes categorías de Medios de Comunicación:</p>

<ul><li>Medios impresos.</li>
  <li>Radios.</li>
  <li>Canales de televisión.</li>
  <li>Medios digitales.</li></ul>

<p>Como criterio general de selección transversal a los cuatro tipos de medios a investigar, se consideró que fueran de:</p>

<ul><li>Cobertura nacional: Circulación nacional en el respectivo país.</li>
  <li>Cobertura regional en el caso de Chile o departamental en el caso de Colombia.</li></ul>

<p>Adicionalmente a los criterios de selección transversal para las cuatro categorías de medios, se consideraron criterios específicos para cada una, tales como:</p> 

<p>Medio impreso:</p>
<ul><li>Definición de medios regionales o departamentales: Medios de comunicación impreso que se distribuye en tres o más ciudades en una región o departamento y son de carácter generalista.</li></ul>

<p>Radios:</p>
<ul><li>Concesión de organismo regulatorio (Chile: Subsecretaría de Transporte y Telecomunicaciones. Colombia: Ministerio de las Tecnologías de la Información y la Comunicación - Agencia Nacional del Espectro).</li></ul>

<p>Televisión:</p>
<ul><li>Canales de televisión abierta de cobertura nacional.</li>
<li>Canales de televisión abierta de cobertura regional o departamental.</li>
<li>Canales de televisión de cable de cobertura nacional y regional correspondientes al país de estudio.</li>
<li>Concesión de organismo regulatorio. En Chile: Subsecretaría de Transporte y Telecomunicaciones; Colombia: Ministerio de las Tecnologías de la Información y la Comunicación - Agencia Nacional del Espectro.</li></ul>

<p>Medios digitales:</p>
<ul><li>Medios digitales de una empresa periodística de género generalista o reportajes.
-Medios nativos digitalmente de género generalista o reportajes.</li></ul>

<a name="cuatro"></a>
<p>b.- Medios investigados en Chile</p>

<p>Se realizó el mapeo de las características y la composición de la propiedad de la mayor parte de los medios de comunicación que existen en Chile.</p>

<p>Total medios investigados: 361</p> 

<p>Medios Escritos Impresos: 118 diarios y revistas</p>
<p>Se seleccionaron de acuerdo a los medios que forman parte de la Asociación Nacional de la Prensa, organismo gremial que agrupa a las empresas periodísticas. Se consultó además el registro de medios de comunicación escritos de la Biblioteca Nacional y se consultó a periodistas por la existencia de otros medios.</p>

<p>Televisión: 45 canales</p>
<p>Se establecieron a partir del registro de las asociaciones gremiales ANATEL (Asociación Nacional de Televisión) y ARCATEL (Asociación Regional de Canales de Televisión). Además se consultó a periodistas de regiones y ciudadanos para tener una visión más completa ya que no todos los canales están presentes en las organizaciones gremiales. Se usaron registros oficiales de la Subsecretaría de Telecomunicaciones.</p>

<p>Radios: 117 emisoras</p>
<p>Se utilizó en primera instancia el listado de socios de Archi, el organismo gremial de las empresas de radio. Se complementó con la consulta al registro de permisos de la Subsecretaría de Telecomunicaciones y con la consulta a periodistas de regiones.</p>

<p>Medios Digitales: 81 medios</p>
<p>Fueron elegidos a partir de la presencia en el ranking de visitas de Alexa.com y de datos extraídos del Informe Medios Digitales:Chile (Open Society) de 2012 y del Primer Mapa de Medios Digitales (CAIP, 2015).</p>

<p>Datos relevantes:</p>

<ul><li>Del total de medios, se establecieron  la existencia de 146 empresas y/o sociedades controladoras de los mismos, categoría que corresponde a la organización que administra o gerencia al medio de comunicación.</li>     
<li>En la participación de la propiedad de dichas empresas se establecieron la existencia de 80 sociedades o personas que ostentan un porcentaje de las mismas.</li>
<li>Dichos socios tienen inversiones e intereses en otros sectores de la economía nacional e internacional, mapa en el que se han detectado un total de 27 sectores diferentes a la industria de medios.</li></ul>

<a name="cinco"></a>
<p>c.- Fuentes consultadas en Chile</p>

<p>La información detectada y clasificada de cada medio se ha extraído de varias fuentes:</p>

<ul><li>El mismo medio y su declaración de propiedad</li>
  <li>Información en registros de proveedores del Estado</li>
  <li>Información en guías comerciales, de importaciones/exportaciones</li>
  <li>Registros de medios oficiales</li>         
  <li>Documentos de firmas de convenios y/o acuerdos generados por organismos estatales o municipales</li></ul>

<p>Para acceder a la información sobre la propiedad de los medios se enviaron consultas a los directivos de los diarios, radios, canales de tv y sitios web. Los resultados obtenidos por esta vía han sido insatisfactorios.</p>
<a name="seis"></a>
<p>d.- Medios investigados en Colombia</p>

<p>Se realizó el mapeo de las características y la composición de la propiedad de la mayor parte de los medios de comunicación que existen en Colombia.</p>

<p>Total medios investigados: 232</p>

<p>Medios escritos impresos: 90 medios.</p>
<p>Se seleccionaron los principales periódicos y revistas de circulación nacional y se procuró, además, asegurar la inclusión de al menos un medio por cada departamento, a partir de consultas a periodistas de regiones. Los departamentos en los que finalmente no se halló ningún medio escrito de producción regional fueron: Amazonas, Vichada, Vaupés, Guaviare y Guainía.</p> 

<p>Radios: 54 emisoras</p>
<p>Se escogieron según el Estudio Continuo de Audiencia Radial ECAR 2012; se dejaron todas las emisoras del ranking de audiencia a nivel nacional (38) y las 10 primeras de las principales ciudades como: Medellín, Barranquilla, Bogotá, Tunja, Popayán, Cali, Montería, Neiva, Pasto, Pereira, Santa Marta e Ibagué.</p> 

<p>Televisión: 44 canales</p>
<p>Se tuvo en cuenta el Registro Único de Operadores de la Autoridad Nacional de Televisión –ANTV-. Allí, entonces, se eligieron los canales de televisión abierta categorizados como públicos regionales y nacionales, privados nacionales, locales sin ánimo de lucro y locales con ánimo de lucro. Adicionalmente, se incluyeron los principales de transmisión por suscripción.</p>

<p>Medios Digitales: 44 medios</p>
<p>La elección se hizo de acuerdo al ranking de tráfico que genera el portal Alexa.com (datos extraídos en diciembre de 2014); de allí se sacaron los primeros 32 medios de comunicación y se incluyeron también otros de importancia regional, relevancia periodística o que han merecido premios como medios digitales.</p>
<a name="siete"></a>
<p>e.- Fuentes consultadas en Colombia:</p>

<p>La información detectada y clasificada de cada medio se ha extraído de las siguientes fuentes:</p>

<ul><li>Documentos de consulta pública que reposan en la Cámara de Comercio de Bogotá.</li>
  <li>Superintendencia de Sociedades.</li></ul>

<a name="ocho"></a>
<p>f.- Construcción de matriz de análisis</p>

<p>La información recopilada se enfocó en dos líneas de análisis: Descripción de la empresa  y Propiedad (dueños y sociedades).</p>
<a name="nueve"></a>
<p>g.- Entrevistas en profundidad</p>

<p>Se desarrollaron entrevistas guiadas a periodistas, desarrolladores, representantes de ONG, activistas por la transparencia, donantes regionales, investigadores, investigadores de políticas públicas, Think Tanks, analistas de industria, académicos y abogados.  Las entrevistas generadas fueron grabadas y posteriormente sistematizadas y analizadas.</p>

<p>Luego se inició la etapa de análisis de información en función de variables de propiedad.</p>
<p>Por último se consolidó la base de datos en función de la propiedad.</p>

<a name="diez"></a>
<p>3.- Recopilación de información legislativa relativa a propiedad medios:</p>
<a name="once"></a>
<p>a.- Identificación de leyes a considerar</p>

<p>Las legislaciones de investigación variaron de acuerdo al país en que se generó lla investigación, aunque a nivel general se consideraron:</p>

<ul><li>Legislación regulatoria de medios de comunicación y ejercicio del periodismo.</li>
  <li>Legislación regulatoria referente a tipos y características de propiedad, particularmente relativa a Sociedades Anónimas.</li>
  <li>Legislación respecto de libre competencia y concentración de empresas.</li>
  <li>Legislación en torno a avisaje gubernamental en medios de comunicación.</li></ul>

<p>Para determinar transparencia de información de propiedad:</p>

<ul><li>Legislación vinculante a la transparencia de propiedad.</li>
  <li>Legislación vinculante directamente a la transparencia de propiedad de medios.</li>
  <li>Legislación vinculante a la libertad de expresión.</li>
  <li>Legislación sobre el acceso a la información pública.</li></ul>

<a name="doce"></a>
<p>b.- Construcción de matriz de análisis para legislación y entrevista estructurada.</p>

<p>Se realizaron entrevistas a periodistas, desarrolladores, representantes de ONG, activistas por la transparencia, donantes regionales, investigadores, investigadores de políticas públicas, Think Tanks, analistas de industria, académicos y abogados.</p> 

<p>Las entrevistas generadas fueron grabadas y posteriormente sistematizadas y analizadas.</p> 

<p>Las preguntas fueron guiadas por área de temas determinadas en la matriz, en busca de respuestas abiertas que permitieron ampliar el marco de investigación de acuerdo a los entrevistados. El resultado de estas preguntas no siempre contó con datos comparables, ya que fueron sujetas a la subjetividad y carácter de los entrevistados.</p>

<p>La preguntas realizadas en las entrevistas se enfocaron en conseguir respuestas para realizar comparaciones sistematizadas en base a cuestionario.</p>

<p>La pauta de entrevista buscó obtener respuestas de fácil cuantificación en el grupo de expertos entrevistados. El segundo objetivo fue abrir posibilidades de investigación en el grupo de discusión creado para el "hackday".</p> 

<p>El foco del cuestionario determinó de qué manera la información de propiedad de medios debía ser publicada. Para ello, se consultaron recomendaciones sobre:</p>

<ul>
<li>Visibilidad pública de tipos de información relativa a propiedad.</li>
  <li>Métodos de consulta de información de propiedad.</li>
  <li>Medidas de regulación desde Gobierno para requerir información de propiedad de medios y sanciones asociadas.</li>
  <li>Legislación en torno a propiedad de medios.</li>
  </ul>

<p>El formato de cuestionario se determinó en base a la investigación realizada por Access Info, "Transparency of the Media Ownership" (2013), la cual determina las preguntas respecto de:</p>

<ul>
<li>Información esencial requerida para un nivel básico de transparencia.</li>
<li>Información requerida para un nivel de mayor transparencia.</li>
<li>Información indicando control e influencia, no propiedad.</li>
<li>Sanciones.</li>
</ul>

<a name="trece"></a>
<p>c.- Sistematización de información legislativa en base de datos</p>

<p>Tanto en Chile como en Colombia se ingresaron en la base de datos los tipos de regulaciones (Ley, Norma Constitucional o Proyecto de Ley), su historia, descripción, autores y entidades involucradas en las tramitaciones de las regulaciones.</p>
<a name="catorce"></a>
<p>d.- Legislación y actores de influencia en Chile</p>

<p>Se realizó el catastro correspondiente para establecer la totalidad de leyes y regulaciones específicas que inciden directa o indirectamente en la industria de medios en Chile tanto a nivel de la función social de los medios de comunicación como en los aspectos técnicos que definen el escenario donde los medios se desarrollan.</p>

<p>Para profundizar sobre la situación de la industria de medios en Chile y sobre los aspectos legislativos considerados, se realizaron una serie de entrevistas a académicos, dirigentes sindicales, periodistas, abogados y otros actores. Dichas entrevistas fueron off the record, es decir fuentes con atribución de reserva total, quienes permanecerán en el anonimato.</p>

<p>Con cada uno de los entrevistados se abordaron diferentes temas según su área de trabajo pero el centro de todos los encuentros fue el tema legislativo, la realidad actual y los posibles cambios legales que pueden ayudar a solucionar las falencias que ellos mismos han detectado en la industria de medios local.</p>
<a name="quince"></a>
<p>e.- Legislación y actores de influencia en Colombia</p>

<p>En Colombia se elaboró un listado de leyes que reglamentan los medios de prensa, radio, televisión e Internet, así como los que atañen a su ejercicio periodístico, en cuatro áreas: libertad de prensa, acceso a la información, competencia libre y transparencia de medios.</p>

<p>Para complementar y orientar la indagación se realizaron entrevistas a académicos, investigadores y abogados. Dichas conversaciones fueron off the record, es decir fuentes con atribución de reserva total, quienes permanecerán en el anonimato.</p>

<a name="diezyseis"></a>
<p>4.- Plano de discusión de expertos en Hackday.</p>

<p>Los conversatorios realizados (dos en cada país) reunieron a grupos de expertos donde se discutieron sobre temáticas particulares de la investigación, guiados por un facilitador.</p>

<p>Hackdays Chile</p>

<p>Se organizaron dos encuentros en la Escuela de Periodismo de la Universidad Alberto Hurtado con periodistas, investigadores, abogados, sociólogos, programadores, miembros de fundaciones, organismos estatales y ONGs.</p>

<p>Primer día: 23 de enero de 2015</p>

<p>La primera actividad inició el viernes 23 de enero en la Universidad Alberto Hurtado, con un conversatorio al que asistieron 15 personas entre investigadores, periodistas, docentes y miembros de fundaciones relacionadas con los medios de comunicación, además del equipo de trabajo del proyecto.</p> 

<p>En la primera jornada se entregó una introducción a la investigación para dar paso a una ronda de consultas que sirvieron para mejorar aspectos metodológicos y técnicos del proyecto. Todo lo conversado y discutido fue registrado. La segunda parte de la primera jornada fue una mesa de conversación con algunos de los asistentes seleccionados según su interés y experiencia. En ese grupo estuvieron presentes desde directores de escuelas de periodismo, programadores, expertos en datos abiertos, dirigentes sindicales y abogados. Los temas más discutidos fueron:</p>

<ul><li>El avisaje estatal y el lugar que ocupa dentro de un escenario de medios más plural. La forma como se asigna, las deficiencias del     sistema y las iniciativas que se han levantado desde el mundo parlamentario y civil para mejorarlo.</li>
  <li>La relación que existe entre el ejercicio de la libertad de expresión y el pluralismo y la propiedad de los medios de comunicación.</li>
  <li>La regulación que existe respecto de la propiedad de los medios. Experiencias internacionales.</li>
  <li>La necesidad de establecer criterios y formas consensuadas para auditar la presencia y el alcance de los medios de comunicación, por alguna organización que no forme parte de la misma industria.</li>
  <li>La dinámica existente en los procesos legislativos relacionados con los medios y la industria.</li></ul>
          
<p>Segundo día: Hackatón, 24 de enero de 2015</p>

<p>Esta actividad se llevó a cabo el sábado 24 de enero en la Universidad Alberto Hurtado. Concurrieron 9 personas entre diseñadores, programadores, periodistas y estudiantes, que recibieron la invitación a través del grupo Hacks/Hackers Chile y Fundación Poderomedia.</p> 
<p>Se realizó una presentación de la investigación y se explicó el modelo de la base de datos y de la programación del administrador del sistema para clasificar la información de la investigación. Los asistentes hicieron una gran cantidad de comentarios y aportes sobre la estructura de los datos y las posibilidades de visualización de una investigación de este tipo.</p> 

<p>En la segunda parte se organizaron grupos de trabajo que se dividieron en:</p>

<ul>
  <li>Visualización de propietario: Cómo visualizar a un conglomerado de medios que pertenece a una sola persona. Se exploraron opciones y formas de presentación.</li>
  <li>Visualización de presencia: Cómo visualizar la presencia geográfica y el alcance de un medio o un grupo de medios.</li>
  <li>Base de Datos: Se trabajó para normalizar los datos a fin de entregar datasets para visualizaciones y se discutió sobre cómo mejorar el modelo de datos.</li>
</ul>

<p>A partir de lo trabajado en la jornada de hackatón se creó una cuenta en github: https://github.com/pedregalux/mediamapperhackday. En este repositorio está el código completo del proyecto y las instrucciones para instalar y usar. Los asistentes al hackatón se encuentran actualmente experimentando visualizaciones a partir de los datos que se suben regularmente en el repositorio. Cabe destacar que el grupo asistente al hackatón devino en una pequeña comunidad que se mantiene en contacto y debate periódicamente sobre los aspectos técnicos del proyecto.</p>


<p>Hackdays Colombia</p>

<p>Primer día: 20 de febrero de 2015</p>

<p>La actividad se realizó en el Auditorio del Centro Ático de la Universidad Javeriana, con un conversatorio al que asistieron 27 personas entre investigadores, periodistas, docentes y miembros de fundaciones relacionadas con los medios de comunicación, además del equipo de trabajo del proyecto.</p> 

<p>En un primer momento se llevó a cabo un panel con los asistente con un moderador. Posteriormente, la coordinadora de la investigación y editora de Poderopedia, Miriam Forero Ariza, hizo la presentación del equipo de trabajo y mostró los avances que hasta el momento se han alcanzado. Los comentarios fueron positivos en el sentido de la importancia de este tipo de investigaciones para el país, ya que las existentes no son tan vigentes. Inmediatamente se pasó al segundo panel, que fue sobre:</p>

<ul>
  <li>Transparencia de los medios</li>
  <li>Libertad de prensa</li>
  <li>Acceso a la información</li>
  <li>Regulación mediática</li>
</ul>

<p>Segundo día: Hackatón (21 de febrero de 2015)</p>

<p>Esta actividad se llevó a cabo el sábado 21 de febrero, en la sala 121 del Centro Ático de la Universidad Javeriana. Concurrieron 18 personas entre diseñadores, programadores, periodistas, estudiantes y realizadores de televisión, que recibieron la invitación a través del grupo Hacks/Hackers Bogotá.</p> 

<p>Además de la presentación del proyecto, en la primera parte de la jornada se realizó un breve taller para dar a conocer las principales bases de datos nacionales e internacionales que utiliza el equipo de Poderopedia para investigar empresas en este y otros proyectos.</p>

<p>Posteriormente los invitados se organizaron en grupos de trabajo, cada uno con una asignación de trabajo, así:</p>

<ul>
  <li>Equipo de periodistas: indagaron en bases de datos nacionales los contratos que tienen las empresas de 20 medios de comunicación con entidades del Estado.</li>
  <li>Equipo de periodistas: indagaron en bases de datos internacionales las juntas directivas y estructuras empresariales de los medios de comunicación cuyos accionistas son sociedades registradas en Panamá y Florida.</li>
  <li>Equipo de programadores: iniciaron el desarrollo de un software que permita visualizar las relaciones entre los propietarios de medios.</li>
  <li>Equipo de diseñadores: elaboraron un diagnóstico con los datos que se han recolectado en la investigación y diseñaron un bosquejo de las visualizaciones que se podrán desarrollar al final del proyecto. Además, hicieron sugerencias para el diseño del sitio donde se publicarán los resultados.</li>
</ul>

<p>Al finalizar la actividad, los participantes presentaron los resultados de su trabajo y los entregaron al equipo de CdR para alimentar y enriquecer la investigación.</p>

<a name="diezysiete"></a>
<p>5.- Elaboración de reporte final.</p>

<p>Ambos países comenzaron con los reportes finales de sus investigaciones, los que incluyen una radiografía general a la industria de los  medios de comunicación investigados; registros de medios; información sobre el acceso a índices de audiencias, lectoría y rating; quiénes son los dueños de los medios; cómo se constituyen estas empresas; concentración y transparencia mediática; marco legal; organizaciones y personas que influyen en la legislación de medios (Lobby).</p>


              <!-- <div class="highlight">
                <pre><code class="php">if(true) {
    echo "Hi poderopedia";
  }</code></pre>
              </div> -->
            </div>
          </div>

        </div>
        <aside class="col3"><br><br><br><br><br><br>
          <nav class="nav-aside">
            <h6>Navega:</h6>
            <ul>
              <li><a href="#objeto">Objeto de estudio</a></li>
              <li><a href="#etapas">Etapas</a></li>
              <li><a href="#planificacion">Desarrollo</a></li>
              <li><a href="#entrega">Entrega de productos</a></li>
              <li><a href="#principios">Principios </a></li>
            </ul>
          </nav>
        </aside>
        <div class="col12 prefix1">
          
          <div class="post">
          <a name="entrega"></a>
            <div class="post-body text">
        <h2>Entrega de productos consolidados</h2>
<p>Como resultado de la investigación se entregaron los siguientes productos consolidados susceptibles de ser profundizados y mejorados:</p>

<li>Plataforma de ingreso de datos. Los datos recolectados, es decir, la información general, cobertura y presencia, ejecutivos, etc. y los datos referentes a la propiedad de los medios se ha ingresado en una aplicación creada para tal fin, la que ha sido alimentada las investigaciones en Chile y Colombia.</li>
<li>Una base de datos pública de medios, propietarios y legislación. Esta base de datos está disponible en este sitio web. La información se ofrece con metadatos bajo estándar de datos abiertos que incluye: datos disponibles en tablas con filtros y búsqueda, datos para descarga en formato CSV, XLS, Json y una API de consulta. </li>

<li>Un reporte periodístico que da cuenta de cómo se estructura la industria de medios en cada país.</li> 

<li>Una guía general de cómo realizar investigaciones de este tipo en otros países y la metodología usada.</li>



              <!-- <div class="highlight">
                <pre><code class="php">if(true) {
    echo "Hi poderopedia";
  }</code></pre>
              </div> -->
            </div>
          </div>

        </div>

        <aside class="col3"><br><br><br><br><br><br>
          
        </aside>
        <div class="col12 prefix1">
          
          <div class="post">
          <a name="principios"></a>

            <div class="post-body text">
        <h2>Principios editoriales y atribución de fuentes</h2>
<p>1. Misión</p>

<p>Publicar la información más precisa y verificada de las personas, empresas, organizaciones y leyes que serán investigadas.</p>
<p>Mostrar con fuentes documentales y/o fuentes vivas los vínculos de propiedad que existen entre personas y/o empresas con medios de comunicación.</p>
<p>Atribuir la información recabada a las fuentes, indicando la fuente y cuando sea necesario la forma en la que se obtuvo la información (entrevista en persona, teléfono, email, skype; registro documental en la web y su url; archivos documentales físicos de bibliotecas de organismos específicos).</p>
<p>Validar las afirmaciones originadas en la investigación con documentos y/o fuentes vivas.</p>
<p>Validar afirmaciones de fuentes vivas con al menos dos fuentes más. En casos de acusaciones realizadas por una fuente viva que pueden afectar la honra de una persona u organización, el investigador/a deberá exigir pruebas documentales y/o intentar verificar dichas afirmaciones con otras fuentes y consultar a la persona u organización aludida, ofreciéndole dar su versión de los hechos y exigiéndole pruebas documentales también. En caso de que el aludido no de su versión, el investigador/a evaluará junto a su editor la credibilidad de la información y si se decide incluirla, deberá indicar claramente la fuente que hace la acusación (en el caso del off the record, se tendrá especial cuidado de las motivaciones de la fuente para declarar de manera anónima)</p>
<p>Ofrecer a los lectores y consumidores de la investigación, una visión en profundidad de la estructura y características de la industria de medios de Chile y Colombia.</p>

<p>2.  Precisión e Imparcialidad</p>

<p>El propósito de esta investigación es buscar verdad y transparencia. Los investigadores deberán ser rigurosos y asegurarse de que los datos investigados sean correctos y estén en su contexto.</p>
<p>Deberá esforzarse por sacar el máximo provecho a sus recursos y habilidades con el objetivo de presentar la más completa versión de la verdad, con información de calidad y comprobada por él mismo. El lenguaje de sus afirmaciones debe ser preciso y no dar pie a ambigüedades.</p>
<p>La exactitud es la esencia del periodismo. Nuestro trabajo deberá representar fielmente la realidad, desde el más mínimo detalle al contexto general que nos ayuda a poner la información en perspectiva.</p>
<p>Debemos ser capaces de identificar las fuentes precisas utilizadas. Si el periodista realiza una afirmación en su contenido, debe lograr identificar inmediatamente el origen de su información y saber explicar por qué esa fuente es confiable. Nunca debe buscar la comprobación después de que su trabajo ha sido publicado.</p>
<p>Es necesario saber interpretar correctamente los hechos y asegurarse de que el material que investiga es fiel a su significado y contexto. Publicar datos falsos puede causar daño, son especialmente peligrosos los que van en contra de la reputación de las personas, por lo tanto debemos tomar precauciones adicionales para evitarlos.</p>
<p>Presentar diferentes perspectivas en nuestros contenidos nos ayuda a obtener historias más precisas. Las mejores investigaciones están basadas en la experiencia de expertos.</p>
<p>Nuestras historias deben ser contadas lo más apegada a la verdad posible. Cada vez que citamos o interpretamos lo que la gente nos dice, nuestro objetivo es ser fieles a su significado. En todos los contenidos, sobre todo en los que tratan sobre asuntos controvertidos, debemos esforzarnos por tomar en cuenta los argumentos más poderosos y desde distintos puntos de vista, tratando de presentar los matices con claridad. El objetivo del periodista no es agradar a las fuentes para crear historias equilibradas, sino buscar la verdad.</p> 
<p>Es absolutamente necesario atenernos a los hechos con un lenguaje claro, preciso y neutral.</p>
<p>Es necesario esforzarse por utilizar palabras y frases que entreguen la información con precisión, sin tomar partido en cuestiones emocionales o políticas. Un lenguaje políticamente cargado viola nuestro compromiso de imparcialidad y hace que los lectores piensen que estamos sesgados a favor de uno u otro lado.</p>
<p>Las cuñas o citas textuales deben ser presentadas entre comillas y si por espacio o claridad debemos parafrasear una declaración es necesario dejarlo en claro.</p>

<p>3. Independencia y Transparencia</p>

<p>Para asegurar la credibilidad de la audiencia, es necesario recalcar  que nuestra lealtad es hacia los lectores y usuarios de la investigación. No debemos permitir que las fuentes nos digan cómo debemos tratar un tema.</p> 
<p>Nuestra investigación debe ser creíble y para ello es fundamental entregar a nuestra audiencia las herramientas necesarias para evaluar el trabajo que hemos realizado. Revelaremos todo lo que sea pertinente con la finalidad de comprobar los hechos presentados.</p>
<p>Gran parte del trabajo que los periodistas realizamos: recopilar, reportear y verificar datos, lo hacemos lejos de los ojos de la audiencia, por lo tanto siempre deberemos entregar una idea a los lectores de cómo hemos desarrollado la investigación.</p>

<p>4. Responsabilidad y Respeto</p>

<p>Debemos asumir la responsabilidad por nuestro trabajo y estar siempre dispuestos a responder por ello.</p>
<p>Escucharemos con atención a nuestras fuentes y audiencias, ellos hacen que podamos escribir buenos contenidos y hacer un mejor periodismo. Por lo tanto, en la medida de nuestras posibilidades estaremos dispuestos a responder preguntas y críticas. Los errores son inevitables, pero cuando ocurra alguno lo corregiremos a la brevedad, reflexionaremos sobre lo que pasó y aprenderemos de ellos.</p>
<p>Toda persona investigada merece ser tratada con decencia y respeto. Debemos ser cuidadosos con nuestras acciones y palabras, evitando la arrogancia y el orgullo. Cuando hacemos preguntas difíciles a nuestros entrevistados, lo hacemos para buscar respuestas y no enfrentamientos.</p>
<p>Mientras cumplimos con nuestras obligaciones periodísticas, todos los temas que estamos investigando deben ser tratados con máxima privacidad. No debemos divulgar, por ejemplo, información no confirmada en redes sociales.</p>

<p>Checklist</p>

<p>Antes de dar por terminado nuestro contenido, responder una simple lista de verificación nos servirá para darnos cuenta que no hemos descuidado nada.</p>
<p>¿El título y cada nombre está correctamente escrito?</p>
<p>La citas son exactas y están correctamente atribuidas</p>
<p>¿Has revisado la ortografía y la gramática?</p>
<p>Los números y cálculos son los correctos. Chequea los años, los porcentajes, las referencias a los millones, billones y trillones ( confundirlos es uno de los errores más comunes)</p>
<p>¿Los términos utilizados son los correctos? Por ejemplo, el sospechoso fue detenido o simplemente fue interrogado.</p>
<p>La historia coincide con las fotos y gráficos asociados a ellas.</p>
<p>¿Publicaste tus fuentes?</p>
<p>¿Tu historia es imparcial? Léela como si fueras un lector, no un reportero o un editor.</p>
<p>¿Nuestras conclusiones son apoyadas con hechos? Debemos hacer una pausa antes de publicar el contenido para asegurarnos si hemos contestado todas las preguntas que pueden ser respondidas. Si algunas de ellas son importantes y no pudieron ser resueltas, debemos informarlo a nuestros lectores.</p>

<p>5. Fuentes</p>

<p>Toda investigación se sirve de fuentes que proveen el material con el cual trabajaremos. Existen varios tipos de fuentes: personas, instituciones, documentos, bases de datos, prensa, instituciones gubernamentales, archivos, libros, etc.</p>
<p>Se deberá indagar en no menos de tres fuentes confiables. En realidad, cuantas más utilicen, será mejor porque más rigor, más imparcialidad tendrá nuestro contenido.</p>
<p>Es necesario citar cada una de esas fuentes, porque eso garantiza verosimilitud. En caso de entrevistas, lo más relevante de lo que el entrevistado diga se puede referir de manera directa –poniéndolo entre comillas- o indirecta.</p>
<p>Si el periodista habla o escribe con conocimiento de causa sobre un tema o simplemente basado en rumores,  tiene la obligación de comprobar la seriedad de su fuente. Este procedimiento sirve como filtro clave en el proceso investigativo.</p>
<p>Siempre debemos dejar claro de dónde hemos sacado o recibido nuestra información. Si es de una organización, documento, base de datos, etc. es necesario señalarlo como Fuente.</p>
<p>Cada periodista debe ser capaz de identificar inmediatamente el origen de los datos de su contenido y por qué los considera creíbles.</p> 
<p>Nuestros lectores y usuarios deben saber de dónde hemos obtenido nuestra información. No sirve señalar "los medios de comunicación informaron" o "según fuentes confiables". Debemos ser específicos.</p>
<p>En la etapa de pre investigación o de aproximación inicial al tema de investigación, lo más apropiado suele ser realizar entrevistas sin grabadora, y configurar un ambiente en el que la fuente o el testigo se explaye en la materia a investigar. Tras esa etapa, el objetivo del investigador debe apuntar a entrevistar a fuentes que puedan ser citadas. El “on the record” le permite al periodista contar con una prueba concreta del testimonio recogido en su trabajo de campo.</p>
<p>A veces puede ocurrir que existan fuentes que se contradicen: en ese caso se debe incluir en nuestro contenido lo que digan ambas partes y dejar al lector la decisión final respecto de lo que diga una u otra; eso es una muestra de objetividad periodística.</p>

<p>5.1. Tipos de fuentes</p>

<p>No hay institución, empresa, organización, profesional prestigioso o ciudadano de a pie que no esté presente de algún modo en Internet. En la red estamos todos: los gobiernos, las bolsas del mundo, la Unión Europea, la OTAN, la ONU, etc. Se pueden descargar documentos oficiales sin salir de nuestra habitación. Entonces ya es “añejo”  hablar de fuentes de información tradicional y no tradicional. Ahora es más pertinente distinguir entre fuentes reales y fuentes virtuales, la suma de las cuales, en cualquier caso, arroja, un volumen de contactos en la agenda de los periodistas nunca antes imaginado.</p>

<p>5.1.1. Fuentes virtuales</p>

<p>Si utilizamos información de Internet es necesario tener presente que no todo lo que se encuentra en la red es confiable, por lo tanto debemos citar siempre el documento, la página web que se consultó y tomar en cuenta los siguientes principios básicos:</p>
<li>Principio verificativo o comprobatorio</li>
<li>Principio explicativo (relacionado positiva o negativamente con la hipótesis)</li>
<li>Principio editorial o de crédito</li>
<li>Principio de perdurabilidad</li>
<li>Para citar fuentes en línea no solo se debe decir de dónde fueron tomados los datos, existen criterios de calidad que debemos considerar, revisar:</li>

<p>www.ub.es/biblio/citae-e.htm</p>

<p>Además de conocer estos criterios para determinar la calidad de las fuentes virtuales el periodista de Poderopedia debe adiestrarse en el uso de buscadores que les faciliten su navegación por la red y le ahorren tiempo en la localización de los datos de interés periodístico.</p>

<p>5.1.2. Fuentes reales o vivas</p>

<p>Llamadas durante mucho tiempo fuentes tradicionales, para fines de esta guía las llamaremos fuentes reales. Dentro de ellas podemos distinguir entre personales, documentales, gubernamentales y no gubernamentales.</p>

<p>Fuentes personales:</p>
<p>Según la duración de la relación que tiene el periodista con las fuentes:</p>
<ul>
  <li>fuentes estables: existe una relación continua</li>
  <li>fuentes provisionales: dura lo que dura el asunto determinado</li>
</ul>
<p>Según la posición desde la que actúa la fuente:</p>             
<ul>
  <li>fuentes públicas: ocupa un cargo público.</li>               
  <li>fuentes privadas: informan con nombre propio.</li>
  <li>fuentes confidenciales: no permiten que se las cite.</li>
  <li>fuentes expertas: información especializada.</li>
</ul>
<p>Según la actividad de la fuente:</p>
<ul>
  <li>fuente activa: es voluntaria. Toma la iniciativa para ponerse en contacto con el periodista y desea transmitir una información que interesa</li>
  <li>fuente pasiva: no toman la iniciativa y suministran la información que el periodista solicita.</li>
  <li>fuentes resistentes: ponen obstáculos para la información</li>
  <li>fuentes abiertas: no ponen resistencia</li>
</ul>

<p>5.1.3. Fuentes documentales o escritas:</p>

<ul>
  <li>Documentos públicos: se accede a través de bases de datos públicas</li>
  <li>Documentos privados: se accede a través de fuentes personales.</li>
</ul>

<p>5.1.4. Fuentes gubernamentales y no gubernamentales</p>

<ul><li>Gubernamentales: ocupan un lugar de privilegio en la estructura del poder. El papel del periodista ante estas fuentes es analizar de forma crítica las informaciones que suministran.</li>
  <li>No gubernamentales: fuentes que no ostentan ningún poder pero tienen acceso a información valiosa.</li></ul>

<p>5.1.5. Fuentes anónimas</p>

<p>En casos donde la fuente le solicite al periodista mantener su identidad de forma anónima, éste puede comprometerse a mantener un pacto de confidencialidad, más aún si la fuente corre riesgos en su integridad física.</p>
<p>Por una cuestión de ética no podemos revelar la identidad de una fuente anónima, a menos que esta haya consentido su divulgación. Sin embargo, debemos tener en cuenta que la protección legal para los periodistas en este aspecto no es 100% segura. Los tribunales nos pueden obligar a declarar o revelar la información incluso cuando se ha prometido la confidencialidad, y la negativa a revelarla puede resultar en encarcelamiento, multas o condenado a pagar daños y perjuicios monetarios.</p> 
<p>Por lo tanto, se debe consultar a los asesores legales de Poderopedia antes de hacer una promesa de confidencialidad.</p>
<p>Si bien los periodistas debemos preferir fuentes abiertas y poner todo nuestro esfuerzo en conseguir datos de dominio público, podríamos llegar a necesitar utilizar información de fuentes anónimas que de otro modo no podríamos conseguir.</p>
<p>Sin embargo, esta no es una decisión que debemos tomar en solitario, los editores deben estar convencidos de que la fuente es confiable y que existe una justificación importante para el uso de información de una fuente anónima.</p>
<p>Por cierto, a veces en el transcurso de nuestra investigación necesitaremos información importante que las fuentes nos revelarán solo si la conversación es "off the record".  En este caso se debe confirmar otras fuentes para verificar. Sin embargo, la decisión de si esa información será utilizada sólo puede tomarse consultando con el editor a cargo.</p>

<p>Las fuentes anónimas no podrán:</p>
<ul><li>Atacar a una persona o hacer comentarios peyorativos sobre su reputación o declaraciones despectivas acerca de alguna institución.</li>
  <li>Utilizar seudónimos. No informaremos el nombre de nuestra fuente si esa persona corre algún peligro vital o legal. Nos referiremos a ella sin necesidad de utilizar su apellido, pero tampoco se usarán seudónimos para reemplazar su nombre real.</li>
  <li>Exigir promesas. En el curso de nuestra investigación puede que ocurra que una fuente quiera compartir alguna información sólo si se le es atribuido a ella. Los periodistas deberán usar su buen juicio para determinar si los datos que nos entregarán son tan relevantes que amerita aceptar condiciones. Sin embargo, no podemos investigar o buscar entrevistas prometiendo guardar una fuente anónima o extraoficial. Nuestro objetivo es conseguir tanta información como sea posible, pero de fuentes abiertas y datos públicos.</li></ul>

            </div>
          </div>

        </div>
</div>

</section>    

{% endblock %}

