{% extends "medioschile/base.html" %}
{% block content %}
<section class="section-title row-module">
	<div class="row">
        <div class="col16">
          	<div class="heading acenter">
            	<h1>API de Mapa de Medios</h1>
          	</div>
       	</div>
    </div>
</section>
          
<section class="section-article list row-module">
    <div class="row">
        <aside class="col3">
          <nav class="nav-aside">
            <h6>Navega:</h6>
            <ul>
              <li><a href="/medioschile/">API Medios de Chile</a></li>
              <li><a href="/medioscolombia/">API Medios de Colombia</a></li>
            </ul>
          </nav>
        </aside>
        <div class="col12 prefix1">

          <div class="post">
            <!-- <div class="post-title">
              <h3>Install with Bower</h3>
            </div> -->
            <div class="post-body text">
        <p>Si necesitas reutilizar nuestros datos en tiempo real, para tus aplicaciones o sitios web, tenemos API disponible. Puedes integrar Mapa de Medios a tus proyectos y te podemos ayudar si lo requieres.</p>
        <p>La API de este proyecto se hizo con Django REST Framework.</p>
			  <p></p> 
			  <p></p>
        </div>
        </div>

        </div>
 
        



    </div>
</section>    

{% endblock %}

