@function column($grid-module) {
  @return (($grid-width / $grid-columns) * $grid-module) - $grid-gutter-width;
}
@function column-flex($grid-module) {
  @return ((($grid-width / $grid-columns) * $grid-module ) / $grid-width) * 100%;
}

@mixin make-grid {
  @for $i from 1 through $grid-columns {
    .col#{$i} { 
      width: column($i);
      padding: 0 ($grid-gutter-width / 2);
      @if $i != $grid-columns {
        float: left;
      }
    }
  }
  @for $i from 1 through ($grid-columns - 1) {
    .prefix#{$i} { 
      margin-left: column($i) + $grid-gutter-width;
    }
  }
}

@mixin make-grid-responsive {
  @for $i from 1 through $grid-columns {
    .col#{$i} { 
      @include prefix(box-sizing, border-box);
      width: column-flex($i);
      padding: 0 ($grid-gutter-width / 2);
      @if $i != $grid-columns {
        float: left;
      }
    }
  }
  @for $i from 1 through ($grid-columns - 1) {
    .prefix#{$i} { 
      margin-left: column-flex($i);
    }
  }
}